<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% content_for :title, "Movies" %>
      <h1>Movies</h1>
      <div id="movies">
        <% @movies.each do |movie| %>
          <div class="row mt-2">
            <div class="col">
              <% if movie.poster_path != nil %>
                <%= image_tag("https://image.tmdb.org/t/p/w500" + movie.poster_path, width: "10%", class: "float-start me-3")  %>
              <% end %>
              <%= movie.title %>
              <p>
                <%= link_to "Show this movie", movie %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
