<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% content_for :title, "Movies" %>
      <h1>Movies</h1>
      <div id="movies">
        <% @movies_by_letter.each do |letter, movies| %>
          <div class="row mb-1">
            <div class="col p-2 m-2 bg-secondary text-white rounded">
              <b><%= letter %></b>
            </div>
          </div>

          <div class="row mb-4">
            <% movies.each_with_index do |movie, index| %>
              <div class="col-md-2">
                <%= image_tag("https://image.tmdb.org/t/p/w500" + movie[:poster_path], width: "80%", class: "img-fluid") unless movie[:poster_path] == nil %>
              </div>
              <div class="col-md-10 mb-3">
                <%= link_to movie[:title], "/movies/#{movie[:id]}" %>
              </div>
              <% unless index == movies.length - 1 %>
                <div class="col-12"><hr></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
