body {
    margin-top: 100px;
}

.do_not_underline {
    text-decoration: none;
}

.more {
    text-decoration: none;
    font-size: small;
}

@media (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }
}
