<div id="<%= dom_id cinema %>">

  <div>
    <strong>Cinema:</strong>
    <%= cinema.title %>
  </div>

  <div>
    <strong>County:</strong>
    <%= cinema.county %>
  </div>

  <div>
    <strong>Web:</strong>
    <%= link_to cinema.uri, cinema.uri, target: :_blank unless cinema.uri.nil? %>
  </div>

</div>
